name: Check For Errors
on:
    push:
        branches-ignore:
            - master # Do not check against the master branch, as this is already checked by the build and deploy script
    pull_request:
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout Repo
              uses: actions/checkout@v6

            - name: Build docker container
              run: make docker

            - name: Build and Check Document
              run: make build
